<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Created</title>
</head>
<body>

    <h1>✅ Account Created Successfully</h1>

    <p><strong>Account Number:</strong> 
        <span th:text="${account.accNo}"></span>
    </p>

    <p><strong>Name:</strong> 
        <span th:text="${account.name}"></span>
    </p>

    <p><strong>Email:</strong> 
        <span th:text="${account.email}"></span>
    </p>

    <p><strong>Phone:</strong> 
        <span th:text="${account.phoneNumber}"></span>
    </p>

    <p><strong>Balance:</strong> 
        <span th:text="${account.balance}"></span>
    </p>

    <hr/>
   <p>
     <a th:href="@{/atm/login}">➡ Login</a>
   </p>

</body>
</html>
